<video autoplay  poster="" id="bgvid" loop>
    <source src="/Big6.mp4" type="video/mp4">
</video>



<div id="new_container">
  <div class="row">
      <h1>breddit</h1>

      <form class="log" action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>">

        <label for="user_username">Username</label>
        <input class="loginp" type="text" name="user[username]" id="user_username" value="guest">

        <label for="user_password">Password</label>
        <input class="loginp" type="password" name="user[password]" id="user_password" value="password">

        <input class="logbut hvr-shutter-out-horizontal" type="submit"></input>
      </form>


      <h4 style="padding-left:10px">please login.</h4>
  </div>
</div>
