<div class="msg-content">
  <div class="menuarea">
    <div class="msg-spacer">
      <ul class="flat-list-msg">
        <li>
          <a class="selected-msg">all</a>
        </li>
        <li>
          <span class="msg-separator">|</span>
          <a class="msg">unread</a>
        </li>
        <li>
          <span class="msg-separator">|</span>
          <a class="msg">messages</a>
        </li>
        <li>
          <span class="msg-separator">|</span>
          <a class="msg">comment replies</a>
        </li>
        <li>
          <span class="msg-separator">|</span>
          <a class="msg">post replies</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="sitetable">
  <div class="message">
    <p class="msg-subject">
      <span>comment reply</span>
      <a href="" class="msg-title">Post Game Thread: Warriors(60-10) destroy Hawks (42-30)</a>
    </p>
    <p class="msg-tagline"> from <a href="">StephCurry</a> via <a href="">nba</a> sent 30 minutes ago</p>
    <div class="md-container">
      <p class="md-p">Hey man great seeing you at the game thanks for teaching me that new shot release!</p>
    </div>
  </div>

  <div class="message">
    <p class="msg-subject">
      <span>comment reply</span>
      <a href="" class="msg-title">IAMA Barrack Obama, El Presidente of the United States of America! AMA </a>
    </p>
    <p class="msg-tagline"> from <a href="">PresidentObama</a> via <a href="">iama</a> sent 2 days ago</p>
    <div class="md-container">
      <p class="md-p">Thank you again for solving our water crisis. I am forever in debt. btw lunch tomorrow?</p>
    </div>
  </div>

  <div class="message">
    <p class="msg-subject">
      <span>comment reply</span>
      <a href="" class="msg-title">Please check out my new song being released this spring!</a>
    </p>
    <p class="msg-tagline"> from <a href="">katy_perry</a> via <a href="">listentothis</a> sent 3 days ago</p>
    <div class="md-container">
      <p class="md-p">I am so flattered that you would reply to my post. :) </p>
    </div>
  </div>

  <div class="message">
    <p class="msg-subject">
      <span>comment reply</span>
      <a href="" class="msg-title">I am stuck outside</a>
    </p>
    <p class="msg-tagline"> from <a href="">Varun</a> via <a href="">appacademy</a> sent 30 days ago</p>
    <div class="md-container">
      <p class="md-p">Hey man I'm stuck in the elevator.</p>
    </div>
  </div>

  <div class="message">
    <p class="msg-subject">
      <span>comment reply</span>
      <a href="" class="msg-title">How to get a nice cross-stich pattern with only 1 color</a>
    </p>
    <p class="msg-tagline"> from <a href="">SAMUEL_L_JACKSON</a> via <a href="">embroidery</a> sent 30 days ago</p>
    <div class="md-container">
      <p class="md-p">TWO DIMENSIONAL CROSS-STITCH IN FLORAL AND GEOMETRIC PATTERNS. USUALLY WITH RED AND BLACK COTTON FLOSS ON LINEN. M***AF***A!</p>
    </div>
  </div>

</div>
