<h3>New Comment</h3>

<form>
  <label>Comment Content
    <textarea name="body"></textarea>
  </label>

  <button>Create Comment</button>
</form>

<div class="preview">
</div>

<div class="post_comments">
</div>
