<form>
  <textarea class="new_com" name="body" rows"1" cols="1">new comment</textarea>
</form>

<button class="save_com">save</button>

<div class="preview">
</div>

<div class="panestack-title"></div>


<div class="post_comments"></div>
