<form>
  <textarea class="new_com" name="body" rows"1" cols="1">New comment</textarea>

</form>
<br>
<button class="save_com">save</button>

<div class="preview">
</div>

<div class="panestack-title"></div>


<div class="post_comments"></div>
