<li style="list-style:none">
  <div class="voteside">
    <button class="upvote">Upvote</button>
    <p><%= comment.escape('com_vote_count') %></p>
    <button class="downvote">Downvote</button>
  </div>
  
  <div class="body">
    <%= comment.escape("body")%>
  <br>
    <%= comment.get("author") %> about <%= comment.get("time_ago")%> ago
  <br>
    <% if (comment.escape('owns_comment') !== 'true') { %>
      <button class="destroy-comment">Delete</button>
    <% } else { %>
      user not logged in
    <% }; %>
    <button class="comment-reply">Reply</button>
    <div class="comment-form-wrapper"></div>
  <br>


  </div>

</li>
