<h1>herro!</h1>


<h1 class="create_post">Create a new Post :3</h1>

<label for="post_title">Post Title</label>
<input type="text" name="post[title]" id="post_title" value="<%= post.escape('title') %>">
<br>
<label for="post_url">Link to URL</label>
<input type="text" name="post[url]" id="post_url" value="">
<br>
<label for="post_content">Content</label>
<textarea name="post[content]" id="post_content" value="<%= post.escape('content') %>"></textarea>
<br>
<label for="subreddit">Subreddit</label>
<br>

<button>Create Post</button>
<a href="#">Back to the Frontpage</a>
