<div class="content-post-form">

  <form>
    <div class="spacer">
      <div class="roundfield">
        <span class="p-title">title</span>
        <div class="roundfield-content">
          <input class="inp" type="text" name="post[title]" id="post_title" value="<%= post.escape('title') %>">
        </div>
      </div>
    </div>

    <div class="spacer">
      <div class="roundfield">
        <span class="p-title">url</span>
        <div class="roundfield-content">
          <input class="inp" type="text" name="post[url]" id="post_url" value="">
        </div>
      </div>
    </div>

    <div class="spacer">
      <div class="roundfield">
        <span class="p-title">content</span>
        <div class="roundfield-content">
          <textarea class="inp" name="post[content]" id="post_content" value="<%= post.escape('content') %>"></textarea>
        </div>
      </div>
    </div>

    <div class="spacer">
      <div class="roundfield">
        <span class="p-title">choose a subreddit</span>
        <div class="roundfield-content">
          <% subreddits.each(function (subreddit) { %>
            <input class="c-box" type="checkbox" name="post[sub_id]" id="sub_id" value="<%= subreddit.get('id') %>">
              <%= subreddit.escape('name') %>
            </input>
          <% }); %>
        </div>
      </div>
    </div>

  <button>submit</button>
</div>
