<h3>Das Front Page!</h3>
<div>
  <ul class='posts'>
    <% posts.each(function (post) { %>
      <li>
        <a href="#/posts/<%= post.get('id') %>">
            <%= post.escape("title") %>
        </a>
      </li>
    <% }); %>
  </ul>
</div>

<ul class="subs"></ul>
<a href="#/subreddits/new">New SuBreddit</a>
<a href="#/subreddits">All SuBreddits</a>
<a href="#/posts/new">Create a new Post!</a>
