<div class= "show-post-header">
  <h4>
      <a href="<%= post.escape("url")%>">
       <%= post.escape("title") %></a>
  </h4>
  <br>
  <p><%= post.escape("content") %></p>
</div>

<a href="#">Back to Posts Index</a>
