<h4>
  <a target="_blank" href="<%= post.escape("url")%>">
    <%= post.escape("title") %></a>
</h4>
  <p>Content: <%= post.escape("content") %></p>
  <p>Subreddit: <%= post.sub_id %></p>

<div class="comments-new"></div>
<div class="comments-div"></div>

<a href="#">Back to Posts Index</a>
