<p class="titlerow">
    <a href="#/subreddits/<%= subreddit.get('id') %>">
      <%= subreddit.escape("name") %>
    </a>

      <% if (subreddit.escape('subbed') === 'true') { %>
        <div class="unsub-option"></div>
      <% } else { %>
        <div class="sub-option"></div>
      <% }; %>
</p>

<div class="description">
  <p> <%= subreddit.escape("description") %> </p>
</div>

<span id="subscribe-button"></span>
