<h3>All subreddits</h3>

<ul class='subreddits'>
  <% subreddits.each(function (subreddit) { %>
    <p class="titlerow">
        <a href="#/subreddits/<%= subreddit.get('id') %>">
          <%= subreddit.escape("name") %>
        </a>
        <span class="sub-button">
          <a class="unsub-option">unsubscribe</a>
        </span>
    </p>
    <div class="description">
      <p> <%= subreddit.escape("description") %> </p>
    </div>
  <% }); %>
</ul>
