// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .content-post-form {
  z-index: 1;
  margin: 7px 5px 0px 15px;
}
div .roundfield {
  width: 540px;
  background-color: #cee3f8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  font-size: large;
}

span .title {
  font-size: large;
}

div .roundfield-content {
  margin-top: 5px;
  border: none;
  vertical-align: top;
}

.inp {
  font-size: 100%;
  width: 520px;
  padding: 3px;
  margin: 0;
  border: 1px solid gray;
}

.c-box {
  font-size: small;
}

.post-button {
  width:80px;
  padding:5px;
  text-align:center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  border: 1px solid #888;
  border-radius: 5px;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.08); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.05); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3s;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
