// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 700px;
  z-index: 100;
  /* Incase of overlay problems just increase the min-height*/
}

.video-section h1, .video-section h3{
  text-align:center;
  color:#fff;
}

.video-section h1{
  font-size:110px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 0px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
  font-size: 25px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  background: url('') no-repeat;
  background-size: cover;
  transition: 3s opacity;
}
.stopfade {
  opacity: .5;
}

#new_container {
  z-index: 2;
  position: relative;
  left: 55%;
  font: normal verdana,arial,helvetica,sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  padding: 2rem;
  width: 40%;
  margin:2rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  letter-spacing: .3rem;
  padding-left: 10px;
}

.log {
  padding-left: 10px;
}

.loginp {
  color: black;
  font-weight: bold;
}

.logbut {
  position: absolute;
  top: 87px;
  left: 81%;
  color: white;
  border-color: black;
  font-weight: bold;
  border-radius: 5px;
  background: black;
}
