video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    background: url('') no-repeat;
    background-size: cover;
    transition: 3s opacity;
  }
.stopfade {
  opacity: .5;
}

#new_container {
  z-index: 2;
  position: relative;
  left: 55%;
  font: normal verdana,arial,helvetica,sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  padding: 2rem;
  width: 40%;
  margin:2rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  letter-spacing: .3rem;
  padding-left: 10px;
}

.log {
  padding-left: 10px;
}

.loginp {
  color: black;
  font-weight: bold;
}

.logbut {
  position: relative;
  top: 1px;
  left: 81%;
  color: black;
  border-color: black;
  font-weight: bold;
  border-radius: 5px;
  background: white;
}
