// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-button {
  border: 1px solid #444;
  background: #ffffff none repeat-x scroll center left;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.sub-option {
  background-image: url('https://s3.amazonaws.com/bredditapp/sprite-reddit.png');
  background-position: 0px 0px;
  background-repeat: repeat;
  width: 68px;
  height: 20;
  font-color: white;
}

.unsub-option {
  background-image: url('https://s3.amazonaws.com/bredditapp/sprite-reddit.png');
  background-position: 0px -182px;
  background-repeat: repeat;
  width: 68px;
  height: 20;
  font-color: white;
}
